#menuBG{
    width: 400px;
    height: 470px;
    margin: 10px auto;
    color: orchid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#frmMenu{
    width: 400px;
    height: 200px;
}

#totalPrice{
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float:right;
}

.left{
    width: 200px;
    height: 200px;
    float: left;
}

.right{
    width: 200px;
    height: 200px;
    float: right;
}

#showText{
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top:0;margin: opx auto;
    width: 400px;
    height: 200px;
}

#btnOrder{
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}

body{
    background-color: darkcyan;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orangered;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
}

body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
    /* this is for the fade in effect*/
}

